<h1><%= @restaurant.name %></h1>

<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<%= link_to 'add', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>

<p><strong>Reviews</strong></p>
  <ul class="list-group">
    <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item">Review: <%= review.content %> Stars: <%= review.rating %></li>
    <% end %>
  </ul>
<br>


<%= link_to 'back',  restaurants_path, class: "btn btn-primary"%>
